.champContainer {
    display: flex;
}
.header {
    font-size: large;
    color: #07025b;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2.5px;
    border-bottom-style: groove;
}
.timeFrame {
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
.description {
    width: 600px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border-top-style: groove;
}
.champModal {
    height: 450px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    background: #AAAAAA;
    border-radius: 25px;
    -webkit-animation: expand 1.5s;
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:450px}
}
.champInfo {
    text-align: center;
    font-size: 22px;
    font-style: italic;
}
.champDescription {
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

