.container {
    display: flex;
}
.header {
    font-size: large;
    color: #07025b;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2.5px;
}

.postacie {
    margin-top: 50px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}